[submodule "external/plate-tectonics"]
	path = external/plate-tectonics
	url = https://github.com/Mindwerks/plate-tectonics
[submodule "external/cmake-conan"]
	path = external/cmake-conan
	url = https://github.com/conan-io/cmake-conan.git
[submodule "external/OpenSimplexNoise"]
	path = external/OpenSimplexNoise
	url = https://github.com/deerel/OpenSimplexNoise.git
[submodule "external/worldengine-cpp-data"]
	path = external/worldengine-cpp-data
	url = ../worldengine-cpp-data
